body {
  background-color: #333;
  color: #fff;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
}

.item-link {
  width: calc(16.666% - 20px);
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: all 0.3s ease;
}

.item-link:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.item-card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f0f0f0;
}

.upper-box {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ddd;
}

.item-name {
  font-weight: bold;
}

.lower-box {
  padding: 10px;
}

/* CSS for Home page */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-content {
  text-align: center;
}

.home-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-button {
  margin: 0 10px;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: all 0.3s ease;
}

.home-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS for Login page */

/* Login.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-heading {
  margin-bottom: 20px;
}

.login-form {
  width: 100%;
  max-width: 300px;
}

.login-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #555;
}

.login-error {
  color: red;
}


/* Register.css */

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-heading {
  margin-bottom: 20px;
}

.register-form {
  width: 100%;
  max-width: 300px;
}

.register-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #555;
}

.register-error {
  color: red;
}
